Flask==3.0.3
Jinja2==3.1.5
MarkupSafe==3.0.2
PyYAML==6.0.2
Pygments==2.18.0
Werkzeug==3.0.6
attrs==24.2.0
black==24.10.0
blinker==1.8.2
brotlicffi==1.1.0.0
build==1.2.2.post1
cffi==1.17.1
click==8.1.7
coverage==7.6.4
decorator==5.1.1
docutils==0.20.1
flasgger==0.9.7.1
greenlet==2.0.2; python_version<'3.12'
greenlet==3.1.1; python_version>='3.12.0rc0'
httpbin==0.10.2
importlib_metadata==8.5.0
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
keyring==25.5.0
markdown-it-py==3.0.0
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.5.0
mypy-extensions==1.0.0
nh3==0.2.18
packaging==24.1
pathspec==0.12.1
pkginfo==1.10.0
platformdirs==4.3.6
pluggy==1.5.0
pycparser==2.22
pyflakes==3.2.0
pyproject_hooks==1.2.0
pytest-cov==5.0.0
pytest-httpbin==2.1.0
pytest==8.3.3
readme_renderer==43.0
referencing==0.35.1
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.3
rpds-py==0.20.0
six==1.16.0
twine==5.1.1
zipp==3.20.2
